xsd/Ericsoft.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EricsoftGuestData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SourceGenerator" type="xs:string" />
              <xs:element name="Date" type="xs:date" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Surname" type="xs:string" />
              <xs:element name="Name" type="xs:string" />
              <xs:element name="Residence">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Address" type="xs:string" />
                    <xs:element name="City">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Name" type="xs:string" />
                          <xs:element name="Zip" type="xs:unsignedShort" />
                          <xs:element name="District" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Nation">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="IdentificationCode" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="BirthData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Date" type="xs:date" />
                    <xs:element name="City">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Name" type="xs:string" />
                          <xs:element name="District" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Nation">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="IdentificationCode" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Nationality">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Nation">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="IdentificationCode" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="IdentificationDocument">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Type" type="xs:string" />
                    <xs:element name="Number" type="xs:string" />
                    <xs:element name="IssueDate" type="xs:date" />
                    <xs:element name="City">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Name" type="xs:string" />
                          <xs:element name="District" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Nation">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="IdentificationCode" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Authorization">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PersonalDataUse" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>